input {
  font-size: 22px;
  color: #333;
  padding: 10px 15px;
  font-size: 16px;
  margin-bottom: 17px;
  border: 1px solid #eee;
  width: 100%;  

}

input::-webkit-input-placeholder {color: #ccc;}
input:-moz-placeholder { /* Firefox 18- */ color: #ccc; }
input::-moz-placeholder {  /* Firefox 19+ */ color: #ccc; }
input:-ms-input-placeholder {color: #ccc; }

.form {
	border: 1px solid #ddd;
	padding: 20px;
	max-width: 400px;
	button {
		width: 100%;
		margin-top: 10px;
		border-radius: 2px;
		// min-width: 88px;
		background-color: $secondaryColor;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 2px;
		cursor: pointer;
		border: 0;
		min-width: 120px;
		color: #fff;
		font-size: 1.8rem;
		padding: 10px 6px;
		transition: .3s all;
		&:hover {
			background-color: darken($secondaryColor,10);
		}
	}
}