select, input, textarea {
  font-size: 1.6rem;
  color: #333;
  padding: 10px 15px;
  margin: 10px 0 10px 30px;
  border: 1px solid #eee;
  width: calc(95% - 30px);  
}

input {
  font-weight: 600;
  letter-spacing: 1px;
}

select {
  -webkit-appearance:none;
  background-color: #fff;
}

label {
	font-weight: 300;
	font-size: 2rem;
	display: block;
	color: $quaternaryColor;
}

input[name="dogPostal"], input[name="walkerPostal"] {
	text-transform: uppercase;
}
input[type="file"] {
	font-weight: 300;
	color: #ccc;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #ccc; font-weight: 300; font-style: italic; font-size: 1.4rem;}
input:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */ color: #ccc; font-weight: 300; font-style: italic; font-size: 1.4rem;}
input::-moz-placeholder, textarea::-moz-placeholder {  /* Firefox 19+ */ color: #ccc; font-weight: 300; font-style: italic; font-size: 1.4rem;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color: #ccc; font-weight: 300; font-style: italic; font-size: 1.4rem;}

.form {
	border: 1px solid #ddd;
	padding: 20px;
	max-width: 800px;
	box-shadow: 0 0 10px #eaeaea;
	margin: 30px auto 60px;
	div {
		width: calc((100%  / 2) - 20px);
		margin: 10px;
		float: left;
		@include respond-to('small') {
			width: 100%;
		}
		.fa {
			margin-right: 15px;
			font-size: 1.8rem;
		}
	}
	.fullWidth {
		width: 100%;
	}
	.required {
		font-size: 1.6rem;
		color: #f00;
	}
	.textcenter {
		text-align: center;
		display: block;
	}
	hr {
		width: 60%;
		margin: 40px auto;
		display: block;
		border-top:1px solid #eee;
	}
	button {
		width: 100%;
		max-width: 300px;
		margin: 10px auto 0;
		display: block;
		border-radius: 2px;
		// min-width: 88px;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 4px;
		cursor: pointer;
		border: 0;
		min-width: 120px;
		color: #fff;
		font-size: 2.2rem;
		padding: 20px 6px;
		transition: .3s all;
		@include respond-to('small') {
			font-size: 1.6rem;
			width: auto;
			padding: 20px 30px;
		}
	}
	h2 {
		font-size: 2.8rem;
	}
	#formWalker {
		button {
		background-color: $primaryColor;
			&:hover {
				background-color: darken($primaryColor,10);
			}
		}
	}
	#formOwner {
		button {
		background-color: $tertiaryColor;
			&:hover {
				background-color: darken($tertiaryColor,10);
			}
		}
	}
}