.display-item{
	h2 {
		font-size: 8rem;
		text-align: center;
		margin: 10px 0 60px;

		@include respond-to('small') {
			font-size: 4rem;
		}
	}
}

.ownersGallery, .walkersGallery {
	padding: 40px 0 60px;
}

.ownersGallery {
	.gallery {
		li {
			// position: relative;
			text-align: center;
			
		}
		.liFlex {
			display: flex;
			flex-direction: column;
			// @include respond-to('small') {
			// 	flex-direction: row;
			// }
			.dogImage {
				background-size: cover;
				min-height: 250px;
				min-width: 250px;
				border-radius: 50%;
				border: 10px solid #fff;
				box-shadow: 0 0 15px #888;
				margin: 0 auto;
			}
		}
		h3 {
			// position: absolute;
			// top: 210px;
			// left: 50%;
			// transform: translateX(-50%);
			// background-color: rgba(0,0,0,.9);
			// width: 60%;
			text-align: center;
			// border: 2px solid #fff;
			// box-shadow: 0 5px 6px #777;
			text-transform: lowercase;
			letter-spacing: 3px;
			color: $primaryColor;
		}
	}
}

.walkersGallery {
	background-color: $tertiaryColor;
	h2 {
		color: #fff;
	}
	.gallery {
		h3 {
			background-color: $quaternaryColor;
			color: #fff;
		}
		
	}
}

.gallery {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	// justify-content: space-between;
	flex-wrap: wrap;
	img {
		border-radius: 50%;
		width: 70%;
		// object-fit:cover;
		// height:250px;
		margin:0 auto 5px;
		display: block;
		border: 10px solid #fff;
		box-shadow: 0 0 15px #888;
		@include respond-to('small') {
			width: 60%;
			border: 8px solid #fff;
			box-shadow: 0 0 8px #888;
		}
	}
	h3 {
		
		padding: 10px;
		text-transform: capitalize;
		font-size: 3rem;
	}
	h4 {
		font-size: 2rem;
		padding: 10px 10px 0;
	}
	li {
		margin: 15px;
		width: calc((100% / 3) - 30px;
		// border: 1px solid #ddd;
		background-color: #fefefe;
		@include respond-to('small') {
			width: 100%;
		}
	}
	p {
		padding: 10px 15px;
		margin: 0;
		.breed {
			text-transform: capitalize;
		}
		.gender {
			text-transform: lowercase;
		}
	}
	button {
		margin: 10px auto 30px;
		padding: 15px 25px;
		text-transform: uppercase;
		font-size: 1.6rem;
		text-align: center;
		display: block;
		transition: .3s all;
		background-color: lighten($quaternaryColor,50);
		border: none;
		.fa {
			font-size: 2rem;
			padding-right: 10px;
			color: #888;
		}
		&:hover {
			background-color: lighten($quaternaryColor, 55);
		}
	}
	.walkerDescription {
		
	}
	.priceP {
		text-align: center;
	}
	.price {
		font-size: 5.5rem;
		font-family: $secondaryFont;
		color: $tertiaryColor;
	}
}