body, html {
	font-size: 10px;
	font-family: $primaryFont;
}

body {}

h1, h2, h3, ,h4, h5, h6 {
	font-weight: 300;
	font-family: $secondaryFont;
	margin: 0;
	padding: 0;
}

h1 {}
h2 {}
h3 {}
h4 {}

a {
	color: $tertiaryColor;
	text-decoration: none;
	transition: .3s all;
}

p {font-size: 1.6rem; line-height: 1.6; margin: 10px 0; padding: 0;}

li {font-size: 1.4rem;}

img {max-width: 100%;}

button {}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}

.mobileShow {
	display: none;
	@include respond-to('small') {
		display: block;
	}
}

.mobileHide {
	@include respond-to('small') {
		display: none;
	}
}

.hidden {
	display: none;
}

.flex {
	display: flex;
}