header {
	background-image: url(https://images.unsplash.com/photo-1503951164464-cfc904b89299);
	background-size: cover;
	background-position: center center;
	height: 80vh;
	color: #fff;
	padding: 30px 0;
	@include respond-to('small') {
		height: 60vh;
	}
	.wrapper{
		text-align: right;
		h1 {
			font-size: 13rem; 
			line-height: 1;
			color: #fff;
			text-shadow:0 0 8px rgba(0,0,0,.6);
			@include respond-to('small') {
				font-size: 8rem;
			}
		}
	}
}