//Colors and fonts
// $primaryFont: 'Open Sans', sans-serif;
$primaryFont: 'Open Sans', sans-serif;
$secondaryFont: 'Slabo 27px', serif;
$primaryColor: #1C7CD6;
$secondaryColor :#1970C1;
$tertiaryColor: #40C057;
$quaternaryColor: #495057;